* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 100;
    letter-spacing: 0.05ch;

}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40));
    background-position: center;
    background-size: center;
}

.navbar {
    width: 90%;
    padding: 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 160px;
    margin-top: -10px;
    cursor: pointer;
}


.navbar a {
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    padding: 18px;
    text-decoration: none;
}

.navbar h1 {
    font-family: Impact;
    font-weight: 100;
    font-weight: 100;
    letter-spacing: 0.2cap;
}



.navbar a:hover {
    background: rgba(255, 255, 255, 0.154);

    transition: 0.4s;
    color: rgb(255, 255, 255);

}



.content {
    width: 100%;
    position: absolute;
    color: white;
    top: 45%;
    transform: translateY(-50%);
    text-align: center;
}





button {
    width: 200px;
    padding: 15px;
    margin: 20px 5px;
    text-align: center;
    color: rgb(255, 255, 255);
    border: 1px solid;
    border-color: rgb(230, 230, 230);
    font-size: 20px;
    cursor: pointer;
    background-color: rgba(70, 57, 57, 0);
    font-family: Impact;
    letter-spacing: 0.09cap;
}

button:hover {
    background: rgb(255, 255, 255);
    transition: 0.5s;
}

button:hover {
    color: rgb(0, 0, 0);
}

.banner video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    
    z-index: -1;
    
}

@media(min-aspect-ratio: 16/9) {
    .banner video {
        background-size: 100% 100%;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.about-me-container {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(214, 203, 203);
    overflow: hidden;
    width: 500;
    height: 100;
    font-family: 'Trebuchet MS', sans-serif;
}

.about-me-content {
    padding: 50px;
    line-height: 3cqw;
    word-spacing: 0.6cap;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 21px;
    font-weight: 200;
}

.content h1 {

    text-align: center;
    margin-top: 01%;
    color: rgb(244, 18, 18);
    font-family: Impact;
    font-size: 50px;
    letter-spacing: 0.05cap;

}

.about-me-container hr {
    margin: auto;


}

.about-me-container img {
    float: left;
    margin-right: 20px;
    width: 300px;
    height: 300px;
}

/* Marks */
.marks {
    background-color: black;
    color: white;
    

}



.marks h1 {
    text-align: center;
    color: rgb(244, 18, 18);
    border: none;
    font-family: Impact;
    letter-spacing: 0.05cap;
    font-size: 50px;
    font-weight: 800;
}


.marks div {
    background: linear-gradient(rgba(255, 250, 250, 0.797), rgba(79, 74, 74, 0.702));
    border-radius: 19px;
    padding: 30px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 8%;
    box-shadow: 10px 15px rgba(244, 58, 58, 0.631);
}

.marks h2 {
    text-align: center;
    color: rgb(244, 18, 18);
    font-family: impact;
    font-size: 26px;
}

.marks hr {
    margin: auto;
    width: 7%;
}


table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 50px;
    margin-left: 10%;
    margin-bottom: 10%;
}


td {
    border: 1px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: left;
    background-color: rgb(12, 11, 11);

}



th {
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    padding: 10px;
    background-color: rgb(92, 57, 57);

}




/* tr:hover {
    background-color: rgba(255, 0, 0, 0);
    transition: 0.2s;

} */

th {
    background-color: #f2f2f2;
    /* Light gray background color for table headers */
}

/* marks end here */

/* contact me */
.contact {
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.contact div {
    background: linear-gradient(rgb(255, 250, 250), rgb(255, 255, 255));
    border-radius: 19px;
    padding: 30px;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 2%;
    color: red;
    font-size: 26px;
    transition: transform 0.3s ease-in-out;
}

.contact :hover {
    transform: scale(1.05);

}

.text {
    text-align: center;
    color: rgb(244, 18, 18);
    font-family: impact;
    font-size: 50px;
}

.contact a {
    text-align: center;
    color: rgb(244, 18, 18);
    font-family: impact;
    font-size: 16px;
    text-decoration: none;
}


.contact img {
    width: 40px;
    height: 40px
}

hr {
    margin: auto;

}

/* achievements */
.achievements {
    background: rgba(0, 0, 0, 0);
    color: #000000;
    font-weight: 900;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 400;


}

.achievements h1 {
    text-align: center;
    color: rgb(244, 18, 18);
    font-family: Impact;
    letter-spacing: 0.05cap;
    font-size: 50px;
    font-weight: 800;
}

.achievements div {
    background: linear-gradient(rgba(255, 250, 250, 0.797), rgba(79, 74, 74, 0.702));
    border-radius: 19px;
    padding: 25px;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 2%;
    box-shadow: 10px 10px rgba(244, 58, 58, 0.631);

}



.achievements h2 {
    padding: 5px;
}
